<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/alpine.js"></script>
<script src="/js/htmx.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/dataTables.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
