{% extends "layout/masterLayout.njk" %} {% block content %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Home Page</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
      Selamat datang di halaman beranda Omniflow
    </li>
  </ol>
  <div class="row">
    <h1>Selamat datang di Dashboard</h1>
  </div>
</div>

{% endblock %}
